body {
    margin: 0;
    padding: 0;
  }
  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  #message-box {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
  }
  #blue-text {
    color: blue;
  }
  #green-text {
    color: green;
  }
  .popup-content {
    max-width: 200px;
    word-wrap: break-word;
  }

@media (max-width: 600px) {
    #message-box {
      width: 70%;
      left: 5%;
    }
  }

  
